version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
      args:
        NODE_VERSION: '25-alpine'
        DATABASE_URL: ./data/database.db
    ports:
      - "3001:3001"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=3001
      - DATABASE_URL=./data/database.db
    volumes:
      - ./data:/app/data
    restart: unless-stopped
